<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-card [ngClass]="routeAnimationsElements">
                <mat-card-content>
                    <mat-card-subtitle>
                        <h3>Core Specs</h3>
                    </mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip>Intel i7-4770K</mat-chip>
                        <mat-chip>Asus Maximus VI Formula</mat-chip>
                        <mat-chip>Corsair Vengeance Pro 16 GB (2 x 8 GB) DDR3-1866</mat-chip>
                        <mat-chip>EVGA GeForce GTX 780 Ti 3GB Superclocked ACX</mat-chip>
                        <mat-chip>Samsung 840 EVO 1TB 2.5" SSD</mat-chip>
                        <mat-chip>WD Red 4TB 3.5" 5400RPM</mat-chip>
                        <mat-chip>WD Black Series 4TB 3.5" 7200RPM</mat-chip>
                        <mat-chip>Corsair Professional 1050W 80+ Gold</mat-chip>
                        <mat-chip>NZXT Phantom 820</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>
            <mat-card class="second-chip-list" [ngClass]="routeAnimationsElements">
                <mat-card-subtitle>
                    <h3>Cooling</h3>
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-chip-list>
                        <mat-chip>Artic Silver 5 Silver Thermal Paste</mat-chip>
                        <mat-chip>EK Supremacy Universal CPU Block</mat-chip>
                        <mat-chip>EK GeForce 780 GTX Ti - Nickel CSQ</mat-chip>
                        <mat-chip>Swiftech MCP655-B Pump</mat-chip>
                        <mat-chip>Bitspower 150 Reservoir</mat-chip>
                        <mat-chip>Mayhem X1 Blood Red</mat-chip>
                        <mat-chip>Alphacool NexXxoS XT45 2x120mm Radiator</mat-chip>
                        <mat-chip>Alphacool NexXxoS XT45 3x120mm Radiator</mat-chip>
                        <mat-chip>PrimoChill PrimoFlex Advanced LRT Tubing</mat-chip>
                        <mat-chip>Corsair Air Series SP120 High Performance Edition</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>
<div class="container">
    <gallery [items]="images820"></gallery>
</div>