<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Gallery</h4>
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <gallery [items]="images2016" thumbPosition="left"></gallery>
                </mat-card>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Core Specs</h4>
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip>Intel i7-4770K</mat-chip>
                            <mat-chip>Asus Maximus VI Formula</mat-chip>
                            <mat-chip>Corsair Vengeance Pro 16 GB (2 x 8 GB) DDR3-1866</mat-chip>
                            <mat-chip>EVGA GeForce GTX 780 Ti 3GB Superclocked ACX</mat-chip>
                            <mat-chip>2x 256GB Samsung850 PRO (RAID 0)</mat-chip>
                            <mat-chip>Samsung 840 EVO 1TB 2.5" SSD</mat-chip>
                            <mat-chip>EVGA SuperNOVA 1200 P2 80+ Platinum</mat-chip>
                            <mat-chip>Thermaltake Core P5</mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Cooling</h4>
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip>Artic Silver 5 Silver Thermal Paste</mat-chip>
                            <mat-chip>EK Supremacy Universal CPU Block</mat-chip>
                            <mat-chip>EK GeForce 780 GTX Ti - Nickel CSQ</mat-chip>
                            <mat-chip>Swiftech MCP655-B Pump</mat-chip>
                            <mat-chip>Bitspower 150 Reservoir</mat-chip>
                            <mat-chip>Mayhem X1 Blood Red</mat-chip>
                            <mat-chip>Darkside Mini-Valve</mat-chip>
                            <mat-chip>XSPC LCD Temperature Sensor V2</mat-chip>
                            <mat-chip>XSPC Fittings</mat-chip>
                            <mat-chip>Alphacool Fittings</mat-chip>
                            <mat-chip>Alphacool NexXxoS XT45 2x120mm Radiator</mat-chip>
                            <mat-chip>Alphacool NexXxoS XT45 3x120mm Radiator</mat-chip>
                            <mat-chip>PrimoChill PrimoFlex Advanced LRT Tubing</mat-chip>
                            <mat-chip>Corsair Air Series SP120 High Performance Edition</mat-chip>
                            <mat-chip>3 Monsoon Hardline Economy Compression Fitting 6 Packs</mat-chip>
                            <mat-chip>Monsoon's PETG Hardline tubing (3/8 x 1/2)</mat-chip>
                            <mat-chip>Corsair's Vengeance AirFlow</mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Notes</h4>
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                        <p>
                            All the fittings, the T & L Connectors & the radiator caps are plasti-dipped from chrome/bronze to matte black.
                            <br/>
                            On running the Prime95 stress test for about 10 minutes, the CPU temperatures stabilized at about 65° & Furmark with 99% GPU utilization at 3440x1440 with 8xMSAA didn't get the GPU temp above 35°
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button
                href="https://www.reddit.com/r/watercooling/comments/44nm1q/core_p5_petg/">Reddit</a>
            <a mat-raised-button
                href="https://linustechtips.com/topic/545498-build-complete-core-p5-petg/?tab=comments#comment-7213984">LTT</a>
        </mat-card-actions>
    </mat-card>
</div>