<div class="background">
  <div class="container bio-category-container">
    <mat-card>
      <mat-card-content>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <h3>Skills</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Frontend</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>JavaScript</mat-chip>
                    <mat-chip>TypeScript</mat-chip>
                    <mat-chip>HTML5</mat-chip>
                    <mat-chip>CSS3</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Backend</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Java</mat-chip>
                    <mat-chip>Dart</mat-chip>
                    <mat-chip>C++</mat-chip>
                    <mat-chip>SQL</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Scripting</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Python</mat-chip>
                    <mat-chip>Groovy</mat-chip>
                    <mat-chip>Bash</mat-chip>
                    <mat-chip>PowerShell</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Frameworks</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Spring</mat-chip>
                    <mat-chip>Angular</mat-chip>
                    <mat-chip>Express</mat-chip>
                    <mat-chip>React</mat-chip>
                    <mat-chip>Bootstrap</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Libraries</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>jQuery</mat-chip>
                    <mat-chip>Meteor JS</mat-chip>
                    <mat-chip>Eclipse RCP</mat-chip>
                    <mat-chip>JFace</mat-chip>
                    <mat-chip>Hibernate</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Tools</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Jenkins</mat-chip>
                    <mat-chip>GitHub</mat-chip>
                    <mat-chip>GitLab</mat-chip>
                    <mat-chip>SPLUNK</mat-chip>
                    <mat-chip>Postman</mat-chip>
                    <mat-chip>Docker</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Environments & Development Kits</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Node.js</mat-chip>
                    <mat-chip>Electron</mat-chip>
                    <mat-chip>Flutter</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <mat-card-subtitle>
                  <h3>Operating Systems</h3>
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Windows</mat-chip>
                    <mat-chip>Linux (AIX, Ubuntu)</mat-chip>
                    <mat-chip>Android</mat-chip>
                    <mat-chip>FreeBSD</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="exp-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Work Experience</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-title>Security Consultant<code>2019</code></mat-card-title>
            <mat-card-subtitle>Synopsys</mat-card-subtitle>
            <mat-card-content>
              <button mat-stroked-button>Python</button>
              <button mat-stroked-button>Groovy</button>
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>New York City, NY</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
          <mat-card>
            <mat-card-title>Software Engineer<code>2014 - 2019</code></mat-card-title>
            <mat-card-subtitle>Cerner Corporation</mat-card-subtitle>
            <mat-card-content>
              <button mat-stroked-button>Java</button>
              <button mat-stroked-button>JFace & SWT - RCP</button>
              <button mat-stroked-button>JavaScript</button>
              <button mat-stroked-button>Groovy</button>
              <button mat-stroked-button>SQL</button>
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Kansas City, MO</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="exp-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Hackathons</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-title>GitHub Bot<code>2018</code></mat-card-title>
            <mat-card-subtitle>
              <a href="https://engineering.cerner.com/blog/shipit-xiii/">
                https://engineering.cerner.com/blog/shipit-xiii/
              </a>
            </mat-card-subtitle>
            <mat-card-content>
              A GitHub bot that scans an opened Pull Request - determines all the files changed - checks SPLUNK if there are any errors logged for any of the files & makes a comment on the PR with all relevant information. This was extended to be a 'Build with Parameters' Jenkins job to scan all repositories, per passed in organization.
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Cerner</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
          <mat-card>
            <mat-card-title>RPi controlled Light Bridge<code>2017</code></mat-card-title>
            <mat-card-subtitle>
              <a href="https://engineering.cerner.com/blog/shipit-x-day-winter-2017/">
                https://engineering.cerner.com/blog/shipit-x-day-winter-2017/
              </a>
            </mat-card-subtitle>
            <mat-card-content>
              A community printed light-bridge - connected to a Raspberry Pi, which can be controlled using an Android App via NFC.
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Cerner</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
          <mat-card>
            <mat-card-title>Chrome Extension<code>2015</code></mat-card-title>
            <mat-card-content>
              A configurable Chrome extention that automates JIRA logging for SPLUNK issues. Starting from a SPLUNK issue search page, the current issue can be logged as a JIRA.
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Cerner</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="exp-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Internship</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-title>Programmer Analyst<code>2012 - 2013</code></mat-card-title>
            <mat-card-subtitle>Egen Solutions, Inc.</mat-card-subtitle>
            <mat-card-content>
              <button mat-stroked-button>Java</button>
              <button mat-stroked-button>Java Struts 1.1</button>
              <button mat-stroked-button>JavaScript</button>
              <button mat-stroked-button>PL-SQL</button>
              <button mat-stroked-button>IBM Sterling Integrator - BPML & XSLT</button>
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Naperville, IL</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="exp-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Education</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-title>Master of Science (Computer Science)<code>2011 - 2013</code></mat-card-title>
            <mat-card-content>Illinois Institue of Technology</mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Chicago, IL</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
          <mat-card>
            <mat-card-title>Bachelor of Technology (Computer Science & Engineering)<code>2007 - 2011</code>
            </mat-card-title>
            <mat-card-content>Vellore Institue of Technology</mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                <mat-chip>Vellore, TN, India</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>