<div class="container" [ngClass]="routeAnimationsElements">
    <div class="row align-items-end">
        <div *ngFor="let build of buildList" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
          <a [routerLink]="[build.link]">
            <mat-card mat-ripple>
              <mat-card-title>
                {{build.name | translate}}
              </mat-card-title>
              <!-- <mat-card-content rtl>
                {{ build.description | translate }}
              </mat-card-content> -->
            </mat-card>
          </a>
        </div>
      </div>
</div>