@import '../../../../styles-variables';

.container {
  margin-top: 8vh;
}

.build-2012-image {
  background-image: url('/assets/img/gallery/2012/preview_xxs/1.jpg');
  background-size: cover;
}

.build-2014-image {
  background-image: url('/assets/img/gallery/2014/preview_xxs/1.jpg');
  background-size: cover;
}

.build-2016-image {
  background-image: url('/assets/img/gallery/2016/preview_xxs/1.jpg');
  background-size: cover;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
}
