$nvn-light-primary: mat-palette($mat-grey, 200, 500, 300);
$nvn-light-accent: mat-palette($mat-brown, 200);
$nvn-light-warn: mat-palette($mat-deep-orange, 200);

$nvn-light-theme: mat-light-theme(
  $nvn-light-primary,
  $nvn-light-accent,
  $nvn-light-warn
);
